version: "3.8"
services:
  mongodb:
    image: "mongo"
    volumes:
      - data:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=ak
      - MONGO_INITDB_ROOT_PASSWORD=ak
    networks:
      - ak-net
  backend:

  frontend:


volumes:
  data: